body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes full viewport height */
}

img {
    max-width: 100%; /* Image will not exceed the width of its container */
    height: auto;    /* Maintain aspect ratio */
    display: block;  /* Ensure images behave as block elements */
    margin: 0 auto;  /* Optional: center the images if needed */
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #555;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

/* Allow section to grow and take up remaining space */
section {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; /* Allow section to grow in height */
}

/* Remove fixed positioning from footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
					
			  
    width: 100%;
}

/* Styling for alerts */
.warning, .note, .tip, .important, .caution {
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;

			   
					
}

					 
.warning {
    border-left: 4px solid #f39c12;
    background-color: #fef5e7;
				  
				   
					   
}

.warning strong {
    color: #c0392b;
    display: block;
}

				  
.note {
    border-left: 4px solid #3498db;
    background-color: #eaf2f8;
				  
				   
					   
}

.note strong {
    color: #1f618d;
    display: block;
}

				 
.tip {
    border-left: 4px solid #27ae60;
    background-color: #e9f7ef;
				  
				   
					   
}

.tip strong {
    color: #1e8449;
    display: block;
}

					   
.important {
    border-left: 4px solid #e74c3c;
    background-color: #f9ebea;
				  
				   
					   
}

.important strong {
    color: #a93226;
    display: block;
}

					 
.caution {
    border-left: 4px solid #e67e22;
    background-color: #fdf2e9;
				  
				   
					   
}

.caution strong {
    color: #d35400;
    display: block;
}
